server:
  port: 8080


############## Sa-Token 配置 (文档: https://sa-token.cc) ##############
sa-token:
  # token 名称（同时也是 cookie 名称）
  token-name: satoken
  # token 有效期（单位：秒） 默认30天，-1 代表永久有效
  timeout: 2592000
  # token 最低活跃频率（单位：秒），如果 token 超过此时间没有访问系统就会被冻结，默认-1 代表不限制，永不冻结
  active-timeout: -1
  # 是否允许同一账号多地同时登录 （为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
  is-concurrent: false
  # 在多人登录同一账号时，是否共用一个 token （为 true 时所有登录共用一个 token, 为 false 时每次登录新建一个 token）
  is-share: true
  # token 风格（默认可取值：uuid、simple-uuid、random-32、random-64、random-128、tik）
  token-style: uuid
  # 是否输出操作日志
  is-log: true

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/usercenter?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
    username: user_center
    password: user_center

  data:
    redis:
      host: localhost
      password:
      port: 6379
      database: 0
      timeout: 10s
      # 连接超时时间（毫秒）
      lettuce:
        # 关闭超时时间
        shutdown-timeout: 1s
        pool:
          # 连接池最大连接数（使用负值表示没有限制） 默认 8
          max-active: 1000
          # 连接池中的最大空闲连接 默认 8
          max-idle: 300
          # 连接池中的最小空闲连接 默认 0
          min-idle: 3
          # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
          max-wait: 1s
  # 应用名称
  application:
    name: user-center
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    sentinel:
      transport:
        dashboard: localhost:9088